extends layout

block content
  .container
    .row
      .col-xs-10.col-xs-offset-1
        h1 Contracts
        h2 TimesBySeven
        pre.
          contract test {
              function multiply(uint a) returns(uint d) { 
                  return a * 7;
              }
          }
        h2 Simple Storage 
        pre.
          contract SimpleStorage {
              uint storedData;
              
              function set(uint x) {
                  storedData = x;
              }
                
              function get() constant returns (uint retVal) {
                  return storedData;
              }
          }
        

