<template name="components_accounts">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            {{_ 'components.accounts.header'}}
        </div>
        <div class="panel-body">
            <p>{{_ 'components.accounts.description'}}</p>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>{{_ 'headers.identicon'}}</td>
                        <td>{{_ 'headers.address'}}</td>
                        <td>{{_ 'headers.balance'}}</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each accounts}}
                    <tr class="accounts-row" data-address="{{address}}" >
                        <td>{{number}}</td>
                        <td>
                            {{> dapp_identicon identity=address class="dapp-small"}}
                        </td>
                        <td> 
                            {{address}}
                        </td>
                        <td>{{fromWei balance 'ether'}} ether</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
