<!DOCTYPE html>
<html>
  <head>
    <script src="{{&serverURI}}/static/js/createUser.js"></script>
    <script src="{{&serverURI}}/static/js/userLogin.js"></script>
    <script src="{{&serverURI}}/static/ethlightjs.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="{{&serverURI}}/static/js/api.js"></script>
    <script src="../js/{{&contractName}}.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body onload="hideOnLoad()">
    <div class="container">
      <img src="http://blockapps.net/img/logo.png" class="bloc__logo">
      <div class="col-md-6 col-md-offset-3" id="authButtonDiv">
        <h1>Welcome To Your Dapp</h1>
        <button class="btn col-sm-12" onclick="showRegister()">Register</button>
        <button class="btn col-sm-12" onclick="showLogin()">Login</button>
        <button class="btn col-sm-12" onclick="developerRetrieve()">Developer Login</button>
      </div>

      <div class="col-md-6 col-md-offset-3" id="createUserDiv">
        <p id="user-intro"> Now, please register your wallet with us!</p>
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="emailCreateUser" required />
  
        <label  for="loginpass">Password</label>
        <input class="form-control" type="password" name="loginpass" id="loginpassCreateUser" required />
  
        <input type="hidden" name="enckey" id="enckeyCreateUser" required />
        <label for="address">Address</label>
        <input class="form-control" type="text" name="address" id="addressCreateUser" readonly required />
  
        <input type="hidden" name="app" id="appCreateUser" value="{{&appName}}" required />
        <button class="btn btn-success" id="user-button" onclick="submit()">Register</button>
      </div>

      <div class="col-md-6 col-md-offset-3" id="loginDiv">
        <p id="login-intro"> If you are a user who has registered, please login now.</p>
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="emailLogin" required />
        
        <label for="loginpass">Password</label>
        <input class="form-control" type="password" name="loginpass" id="loginpassLogin" required />
  
        <label for="address">Address</label>
        <input class="form-control" type="text" name="address" id="addressLogin" required />
  
        <input type="hidden" name="app" id="appLogin" value="{{&appName}}" required />
        <button class="btn btn-success col-sm-12" id="user-button" onclick="retrieve()">Login!</button>
      </div>
  
      <div class="col-md-6 col-md-offset-3" id="keygenDiv">
        <p id="key-intro"> First we will generate a key. Protect it with a high entropy password. The key will be  sent to you in email, encrypted, after you verify your login.</p>
        <label for="keypass">Enter a high entropy password</label>
        <input class="form-control" type="password" name="keypass" id="keypass" />
        <button class="btn" id="keygen-button" onclick="genKeyUser()">Generate key</button>
      </div>
  
      <div class="col-md-9" id="functionsDiv">
        <div id="walletDiv">
          <label for="walletaddress">Your Address</label>
          <input class="form-control col-md-12" name="walletaddress" id="walletaddress" readonly />
        </div>
	     {{#funcs}}
	     	<div id="{{&name}}Div">
		  	<button class="btn col-sm-12" onclick="callFunc('{{&name}}')">{{&name}}</button>
		  	{{#args}}
		  	<input class="form-control col-sm-12" type="text" name="{{&argName}}" placeholder="{{&argName}}" id="{{&name}}{{&argName}}" />
		  	{{/args}}
        <input class="form-control col-sm-12" type="value" name="'{{&name}}'ValueField" placeholder="send value in Ether" id=" '{{&name}}'ValueField" />
		    </div>
	     {{/funcs}}
        <textarea class="form-control" id="afterTXarea" readonly="true" rows="14"></textarea>
      </div>

      <div class="col-md-3" id="walletPassword" >
        <button class="btn col-sm-12" onclick="showLogin()">Login As New User</button>
      </div>

      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="passwordModal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Wallet Password</h4>
            </div>
            <div class="modal-body row">
              <p class="col-xs-12">Retrieved your wallet. Enter your password to sign transactions: 
              </p>
              <div class="col-xs-12">
                <input class="form-control" type="password" id="walletDecrypt">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary col-sm-4" data-toggle="modal" data-target="#passwordModal">Sign!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
