<template name="layout_header">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
          {{_ "title"}} 
        </a>
			</div>
      
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ pathFor 'welcome' }}">
            {{_ "welcome"}}
          </a>
        </li>
        
        <li>
          <a href="{{ pathFor 'coops' }}">
            {{_ "coops"}}
          </a>
        </li>

        <li>
          <a href="{{ pathFor 'settings' }}">
            {{_ "settings"}}
          </a>
        </li>
        <li>
          {{> dapp_identicon identity=address class="dapp-small"}}
          {{short_address}}
        </li>
        <li>
        </li>
			</ul>
     
		</div>
	</nav>
</template>
