<template name="layout_navbar">
  <nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
          {{_ "title"}} 
        </a>
			</div>
      
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>

      {{#if loggedIn }}
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ pathFor 'home' }}">
            {{_ "home"}}
          </a>
        </li>
        
        <li>
          <a href="{{ pathFor 'coops' }}">
            {{_ "coops"}}
          </a>
        </li>

        <li>
          {{> dapp_identicon identity=address class="dapp-small"}}
        </li>
        <li>
        </li>
      </ul>
      {{else}}
      <form class="navbar-form navbar-right" role="search">
        <button type="submit" class="btn btn-primary btn-default">{{_ "signin" }}</button>
      </form>
      {{/if}}
		</div>
	</nav>
</template>
