
<div "class=container" id="functionsContainer"  >   
  <div for="contract in data.contractMeta">
    <div for="(symbol,symbolObj) in contract.symTab">
      <div if="symbolObj.jsType == 'Function'">
        <div id="${symbol}Div">
           <button style="background-color: #223765; color: white" class="btn col-sm-12" onclick="callFunc('${symbol}')">${symbol}</button>          
             <input class="form-control col-sm-12" type="text" name="${argName}" placeholder="${argName}" id="${symbol}${argName}" for="argName in symbolObj.functionArgs" />                                                                               
           <input class="form-control col-sm-12" type="value" name="${symbol}ValueField" placeholder="send value in Ether" id="${symbol}ValueField" />                               
      </div>
    </div>
  </div>

  <textarea class="form-control" id="afterTXarea" readonly="true" rows="14"></textarea>                      
</div>