<!DOCTYPE html>
<html lang="en">
<header />
<body>
  <div class="container">
    <h1>Inspect your Contracts!</h1>
    <div class="row">
      <div for="contract in data.contractNames">
        <ul class="lead">
          <li>
            <a href="/contracts/${contract}">${contract}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>


