nav.navbar.navbar-default.navbar-static-top(role="navigation")
  .container
    .navbar-header
      a.navbar-brand(href="/") VOTETH
    button.btn.navbar-btn.pull-right 
      a(href="/contracts") Contracts
