<template name="views_coops">
  <div class="row-fluid">
	  <div class="col-md-6">
      <h1> Create a Coop </h1>
      <form class="coop-details form-horizontal">
        <div class="form-group">
          <label for="nameInput" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nameInput" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <label for="idInput" class="col-sm-2 control-label">Organisation ID</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="idInput" placeholder="org id">
          </div>
        </div>
        <div class="form-group">
          <label for="terms" class="col-sm-2 control-label">Terms & Conditions</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="5" id="terms"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="feeAmount" class="col-sm-2 control-label">Member Fee</label>
          <div class="col-sm-5 input-group">
            <div class="input-group-addon">&#926;</div>
            <input type="" class="form-control" id="feeAmount" placeholder="Amount (Ether)">
            <div class="input-group-addon">.00</div>
          </div>
        </div>
        <button type="submit" class="col-sm-2 col-sm-offset-10 btn btn-default"> Submit </button>
      </form>
    </div>
	  <div class="col-md-6">
      <h1> List of Coops </h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th> Name </th>
            <th> Org ID </th>
          </tr>
        </thead>
        
        <tbody>
        {{#each coop in coopsList }}
          <tr class="coop-row" id={{coop.address}}>
            <td> {{coop.data.name}} </td>
            <td> {{coop.data.orgId}} </td>
         </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
 </div>
</template>
