<template name="views_coops">
  <div class="row">
	  <div class="col-md-8 col-md-offset-2">
      <!-- Modal -->
      <div class="modal fade" id="newCoopModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Start a new coop</h4>
            </div>
            <form class="coop-details">
              <div class="modal-body">
                <div class="form-group">
                  <label for="nameInput" class="control-label">Name</label>
                  <input type="text" class="form-control" id="nameInput" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="idInput" class="control-label">Organisation ID</label>
                  <input type="text" class="form-control" id="idInput" placeholder="org id">
                </div>
                <div class="form-group">
                  <label for="terms" class="control-label">Terms & Conditions</label>
                  <textarea class="form-control" rows="5" id="terms"></textarea>
                </div>
                <div class="form-group">
                  <label for="feeAmount" class="control-label">Member Fee</label>
                  <div class="input-group">
                    <div class="input-group-addon">&#926;</div>
                    <input type="" class="form-control" id="feeAmount" placeholder="Amount (Ether)">
                    <div class="input-group-addon">.00</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="quorumInput" class="control-label">Quorum Level</label>
                  <input type="range" id="quorumInput" value="50" onchange="rangevalue.value=value" name="points" min="0" max="100">
                </div>
                <div class="form-group">
                  <label for="ordinaryRes" class="control-label">Ordinary Resolution Level</label>
                  <input type="range" id="ordinaryRes" name="points" min="0" max="100">
                </div>
                 <div class="form-group">
                  <label for="extraRes" class="control-label">Extraordinary Resolution Level</label>
                  <input type="range" id="extraRes" name="points" min="0" max="100">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"> Submit </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-xs-8">
            <h3> Your Coops </h3>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn h3-btn btn-primary pull-right new-coop-btn" data-toggle="modal" data-target="#newCoopModal"> New Coop </button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            {{#each coop in user.coops }}
            <a href="/coop/{{coop.address}}">
              <h4> {{coop.data.name}} </h4>
            </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
 </div>
</template>
