<template name="views_coop">
  <div class="row">
    <div class="col-xs-12">
      <div class="full-width">
      <div class="coop-banner-wrapper">
        <img class="coop-banner" src="/images/woods.jpg">
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
	    <div class="row">
        <div class="col-md-8">
          <div class="content-wrapper">
            {{#with coopData }}
            <div class="row">
              <div class="col-xs-12">
                <h2> {{ data.name }} </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <p> {{data.description}} </p> 
                
                <p> <span class="strong-label">Coops UK ID:</span> {{  data.orgId }} </p>

                <p> <span class="strong-label">Mambership Fee:</span> {{ toEther fee }} Ether </p>
                
                <p> <span class="strong-label">Balance:</span> {{ toEther balance }} Ether</p> 

              </div>
              <div class="col-sm-4">
                {{#if notAMember }}
                <button class="btn btn-success btn-join btn-full">Join</button>
                {{else}}
                <h3 class="pull-right"> <span class="label label-success">Member</span></h3>
                {{/if}}
              </div>
            </div>
            {{/with}}
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="content-wrapper">
                
                <!-- New Proposal Modal -->
                <div class="modal fade" id="newProposalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Table a new proposal</h4>
                      </div>
                      <form class="proposal-form">
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="titleInput" class="control-label">Title</label>
                            <input type="text" class="form-control" id="titleInput" placeholder="Name">
                          </div>
                          <div class="form-group">
                            <label for="proposalInput" class="control-label">Proposal</label>
                            <textarea class="form-control" rows="5" id="proposalInput"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="endBlockInput" class="control-label">Closing Block</label>
                            <input type="number" id="endBlockInput" class="form-control"  min="{{blockNow}}"><br>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary"> Submit </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- End of Modal -->

                <div class="row">
                  <div class="col-xs-8">
                    <h3> Open Proposals </h3>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn h3-btn btn-primary pull-right new-coop-btn" data-toggle="modal" data-target="#newProposalModal"> New Proposal </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    {{#each proposal in coopData.proposals}}
                    {{#if isOpen proposal }}
                    <div id="{{proposal.id}}" class="proposal-item">
                      <div class="row">
                        <div class="col-xs-8">
                          <h4 class="">{{proposal.title}}</h4>
                          <p class="">{{proposal.proposal}}</p>
                        </div>
                        <div class="col-xs-4">

                        </div>
                      </div>
                    </div>
                    {{/if}}
                    {{/each}}
                    
                    <!-- New Proposal Modal -->
                    <div class="modal fade" id="proposalVoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          {{#with selectedProposal}}
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Vote On: {{title}}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-xs-6 col-xs-offset-3">
                                <div id="chart-{{id}}" class="ct-chart proposal-chart ct-perfect-fourth"></div>
                              </div>
                              <div class="col-xs-12">
                                <p> votes for: {{votesFor}} </p>
                                <p> votes against: {{votesAgainst}} </p>
                                <p> votes total: {{totalVotes this}} </p>
                                {{#if isOpen this }}
                                <p> votes needed to reach quorum: {{toReachQuorum this}} </p>
                                {{/if}}
                                <h4> Proposal </h4>
                                <p> {{proposal}} </p>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            {{#if isOpen this }}
                            <button type="button" class="btn btn-danger vote-against" data-dismiss="modal">Against</button>
                            <button type="button" class="btn btn-success vote-for" data-dismiss="modal">For</button>
                            {{/if}}
                          </div>
                          {{/with}}
                        </div>
                      </div>
                    </div>
                    <!-- End of Modal -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="content-wrapper">
                <h3> Closed Proposals </h3>
                {{#each proposal in coopData.proposals}}
                {{#if isClosed proposal }}
                <div id="{{proposal.id}}" class="proposal-item">
                  <div class="row">
                    <div class="col-xs-8">
                      <h4 class="">{{proposal.title}}</h4>
                      <p class="">{{proposal.proposal}}</p>
                    </div>
                    <div class="col-xs-4">
                      <h3 class="pull-right"> 
                        {{#if proposal.passed }}
                        <span class="label label-success">Passed</span> 
                        {{else}}
                        <span class="label label-danger">Defeated</span> 
                        {{/if}}
                      </h3>
                    </div>
                  </div>
                </div>
                {{/if}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-xs-12">
              <div class="content-wrapper">
                <h3> Coop Rules </h3>
                {{#with coopData }}
                <p> <span class="strong-lable">Fee: </span> {{ toEther fee }} </p>
                <p> <span class="strong-label">Quorum:</span> {{quorum}}% </p>
                <p> <span class="strong-label">Normal Resolution:</span> {{normalRes}}% </p>
                {{/with}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="content-wrapper">
                <h3> Members </h3>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th> Name </th>
                      <th> Email </th>
                    </tr>
                  </thead>
                  <tbody>
                  {{#each member in coopData.members }}
                    <tr class="member-row" id={{member}}>
                      <td> {{member.data.name}} </td>
                      <td> {{member.data.email}} </td>
                   </tr>
                  {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
