<template name="views_welcome">
  <div class="welcome-wrapper">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <img src="/images/Logo.png" class="center-img">
        <h1> Welcome To Go-Op </h1>
        <h2> Start your own decentralised autonomous cooperative! </h2>
        <button class="btn btn-primary get-started"> Get Started Now </button>
      </div>
    </div>
  </div>

  <div class="welcome-body">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="about">
          <h3> What is Go-op?</h3>
          <p> Go-op is a governance application for co-operative and democratic enterprises that enable secure decision making on the Ethreum blockchain. </p>
        </div>
      </div>
    </div>
  </div>

</template>
