<template name="views_welcome">
  <div class="welcome-wrapper">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <img src="/images/Logo.png" class="center-img">
        <h1> Welcome To Go-Op </h1>
        <h2> Start your own decentralised autonomous cooperative! </h2>
        <button class="btn btn-primary"> Sign Up Now </button>
      </div>
    </div>
  </div>

  <div class="welcome-body">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3> Enabling the distributed cooperative...</h3>
        <p> abvfh. </p>
      </div>
    </div>
  </div>

</template>
