<script src="${data.apiURL}/static/js/ethlightjs.min.js"></script>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="passwordModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form id="submitPass" action="/login">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Keystore Password</h4>
      </div>
      <div class="modal-body row">
        <p class="col-xs-12">Retrieved your key. Enter your password to sign transactions:
        </p>
        <div class="col-xs-12">
          <input class="form-control" type="password" id="walletDecrypt" name="password">
        </div>
      </div>
      <div class="modal-footer">
        <button id="submitPassButton" class="btn btn-primary col-sm-4" data-target="#passwordModal">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script>



$('#submitPassButton').on('click',function(e){
    e.preventDefault();
    globalPassword = walletDecrypt.value;

    if (typeof ethlightjs === 'undefined') {
        ethlightjs = lightwallet;
    }

    var usableKeystore = ethlightjs.keystore.deserialize(JSON.stringify(globalKeystore[0]));
    var success = true;

    try {

      var privkey = usableKeystore.exportPrivateKey(usableKeystore.addresses[0], globalPassword);

    } catch (e) {

        success = false;
        console.log("failed with: " + e);
        ${data.txFailedHandlerName}(e);

    }

    if(success){

        $("#passwordModal").modal('hide')

        $.ajax({
          type     : "POST",
          url      : "/login",
          data     : { password: $(this).value },
          success  : function(data) {
             alert("successfully logged in!");
          }

      });
    } else {
      console.log("the password is wrong")
        // TODO update DIV with "wrong password"
    }


});

</script>