
<div id="functionsContainer">   
  {{#funcs}}                                                                                            
    <div id="{{&name}}Div">                                                                            
        <button class="btn col-sm-12" onclick="callFunc('{{&name}}')">{{&name}}</button>           
        {{#args}}                                                                                  
        <input class="form-control col-sm-12" type="text" name="{{&argName}}" placeholder="{{&argName}}" id="{{&name}}{{&argName}}" />                                                                               
        {{/args}}                                                                                  
        <input class="form-control col-sm-12" type="value" name="'{{&name}}'ValueField" placeholder="send value in Ether" id=" '{{&name}}'ValueField" />                                                                             
    </div>                                                                                         
  {{/funcs}}                                                                                            
  <textarea class="form-control" id="afterTXarea" readonly="true" rows="14"></textarea>                      
</div>