
<div id="keyStatus" class="container">
  {{#if hasKey}}
    <p id="hasKeyMsg" class="keyStatusMessage"> {{{ hasKeyMessage }}} </p>
  {{else}}
    <p id="noKeyMsg" class="keyStatusMessage"> {{{ generateKeyMessage }}} </p>
  {{/if}}

