{{>ContractJS}}

{{#if contractIsCompiled }}
  <div class="col-md-9" id="functionsDiv">
    <h4>{{{contractNameSol}}}</h4>
    {{>WalletDiv}}
    {{>ContractFunctions}}
    {{>WalletModal}}
  </div>
<body onload="afterTX()">
{{/if}}

{{>DeveloperStatus}}
{{>ContractStatus}}

