{{>ContractJS}}
{{>DeveloperStatus}}
{{>ContractStatus}}

{{#if contractIsCompiled }}
      <div class="col-md-9" id="functionsDiv">
        {{>WalletDiv}}
        {{>ContractFunctions}}
        {{>WalletModal}}
     </div>
<body onload="afterTX()">
{{/if}}


