{{#if hasKey }}
    <div id="walletDiv">
        <label for="walletaddress">Your Address</label>
        <input class="form-control col-md-12" name="walletaddress" id="walletaddress" value="{{{walletAddress}}}" readonly />
    </div>
{{/if}}
